.main-page {
max-width: 400px;
margin: 50px auto;
padding: 20px;
background-color: #f8f8f8;
display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-actions-center {
  display: flex;
  justify-content: center;
  width: 100%;
}