<!-- This toolbar will be displayed on screens larger than 599px -->
<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false">
  <!-- Show "Home" only if not logged in -->
  <!-- <a mat-button routerLink="/" *ngIf="!isLoggedIn()">Home</a> -->
  <!-- Hide these links when logged out -->
  <a mat-button routerLink="/profile" *ngIf="isLoggedIn()">Profile</a>
  <a mat-button routerLink="/movies" *ngIf="isLoggedIn()">Movies</a>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
</mat-toolbar>

<!-- This toolbar will be displayed on screens smaller than 600px -->
<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === true">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- Show "Home" only if not logged in -->
    <!-- <button mat-menu-item routerLink="/" *ngIf="!isLoggedIn()">Home</button> -->
    <!-- Hide these menu items when logged out -->
    <button mat-menu-item routerLink="/profile" *ngIf="isLoggedIn()">
      Profile
    </button>
    <button mat-menu-item routerLink="/movies" *ngIf="isLoggedIn()">
      Movies
    </button>
    <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn()">
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
