<!-- This toolbar will be displayed on screens larger than 599px -->
<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false">
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/profile">Profile</a>
  <a mat-button routerLink="/movies">Movies</a>
  <button mat-button (click)="logout()">Logout</button>
  <!-- Logout button -->
</mat-toolbar>

<!-- This toolbar will be displayed on screens smaller than 600px -->
<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === true">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item routerLink="/movies">Movies</button>
    <button mat-menu-item (click)="logout()">Logout</button>
    <!-- Logout button -->
  </mat-menu>
</mat-toolbar>
