.movie-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

 mat-card {
  box-sizing: border-box;
  margin: 20px;
  flex: 0 0 200px;
  padding: 10px;
  background: linear-gradient(180deg, rgba(229,9,20,1) 0%, rgba(0,0,0,1) 100%);
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  
  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
  }

  mat-card-header {
    mat-card-title {
      height: 40px;
      font-weight: bold;
    }

    mat-card-subtitle {
      height: 40px;
      font-weight: normal;
      color: #ffffff;
    }
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  button {
    background-color: #e50914;
    color: #ffffff;
    border: none;
    padding: 3px 6px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px !important;
    margin: auto 2px 4px 2px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      background-color: #ffffff;
      color: #e50914;
    }
  }

  mat-icon {
    cursor: pointer;
    margin-left: 10px;
  }
}
